
.table {
  font-size: 14px;
  margin-bottom: 0;

  thead th {
    padding: .60rem;
  }
  tbody td {
    padding: .40rem;
  }
}

.table-listing {
  .btn-sm {
    font-size: .750rem;
    min-width: 100px;
    font-weight: bold;
  }

  .badge {
    padding: 8px;
  }

  .dropdown-menu {
    font-size: 14px;
  }
  .dropdown-item {
    padding-top: 2px;
    padding-bottom: 2px;
  }
}

.ui-dialog-titlebar {
  font-size: 16px;
  padding-top: 12px!important;
  padding-bottom: 12px!important;
  border-bottom: 1px solid #ccc;
}
.ui-dialog-titlebar-dark {
  background-color: #F5F5F5!important;
  color: white;
}
.ui-dialog-titlebar-secondary {
  background-color: #F5F5F5!important;
}
.ui-dialog-titlebar-info {
  background-color: #17a2b8!important;
  color: white;
}
.ui-dialog-titlebar-warning {
  background-color: #ffc107!important;
}
.ui-dialog-titlebar-danger {
  background-color: #dc3545!important;
  color: white;
}

.ui-dialog-content, .ui-widget-content {
  padding-top: 15px!important;
  padding-bottom: 15px!important;
}

.ui-dialog-buttonset>.btn {
  padding: 2px;
}

.card-listing {
  border: none;

  .table-listing {
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
  }

  ul.pagination li.page-item {
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
  }

  .card-body {
    padding: 1rem 0;
  }

  .card-header {
    background: none;
    padding: 0 0 0.5rem;
    border-bottom: 0;
  }

  .card-filters {
    padding: 15px 5px 0 5px;
    border-bottom: 1px solid #dee2e6;
  }

  .card-header .dropdown-menu{
    padding: 0;
    font-size: small;

    .dropdown-item {
      padding: 10px;
    }
  }

  .card-actions .dropdown-menu {
    padding: 0;
    font-size: small;

    .dropdown-item {
      padding: 10px;
    }
  }
}

.navbar-pagination .count-pagination {
  float: left;
  position: relative;
  display: block;
  padding: .5rem 2rem;
  margin: 0 0 1rem 0;
  line-height: 1.25;
  background-color: #fff;
  border: 1px solid #dee2e6;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
}

.order-selected {
  color: red;
}

.order {
  cursor: pointer;
}
