{% extends isXmlHttpRequest ? 'layout_minimum.html.twig' : 'layout_standard.html.twig' %}

{% block container %}

    <div class="small">
        {% for transaction in transactions %}
            <div class="transaction-row px-2 py-1 border-top border-bottom"
                 data-id="{{ transaction.id }}"
                 data-year="{{ transaction.date|date('Y') }}"
                 data-yearsday="{{ transaction.date|date('z') }}"
            >
                {% include 'financial/transaction/transaction.html.twig' with {'transaction': transaction} %}
            </div>
        {% endfor %}
    </div>

{% endblock container %}