<div class="row">
    {% for category in categories %}
        <div class="col-2">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action active category-droppable">
                    {{ category.name }}
                </a>
                {% for children in category.childrens %}
                    <a href="#" class="list-group-item list-group-item-action category-draggable">{{ children.name }}</a>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>