<tr>
    <td>
        {{ form_widget(children.name, {
            'label': 'financial.category.field.children',
            'attr': {
                'class': 'form-control-sm'
            }
        }) }}
    </td>
    <td>
        <a href="#" class="text-danger">
            <span class="oi oi-x"></span>
        </a>
    </td>
</tr>
