{% extends 'layout.html.twig' %}

{% block main %}
<div class="col-sm-12 offset-sm-1 col-sm-10 offset-md-1 col-md-10 offset-lg-2 col-lg-8  offset-xl-2 col-xl-8">
    {% block container %}{% endblock container %}
</div>
{% endblock main %}