{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/css/navbar.css') }}">
{% endblock stylesheets %}

{% block navbar %}
    {{ renderNavbar() }}
{% endblock navbar %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <main role="main" class="col-xl-12 col-lg-12 col-md-12 ml-sm-auto px-4">
                {% block main %}{% endblock main %}
            </main>
        </div>
    </div>
{% endblock body %}
